[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==0.25.3"
scikit-learn = "==0.22"
sklearn-porter = "==0.7.3"
imblearn = "==0.0"

[requires]
python_version = "3.7"
